<nav>
  <h1 class="site-title">
    <a routerLink="/" style="text-decoration: none; color: inherit;">SkyBooker</a>
  </h1>
  <ul class="nav-links">
    <ng-container *ngIf="!isLoggedIn">
      <li><a routerLink="/signup">Register</a></li>
      <li><a routerLink="/login">Login</a></li>
    </ng-container>
    <ng-container *ngIf="isLoggedIn">
      <li><p class="user-role">{{ userName }} / {{ userRole }}</p></li>
      <li><a routerLink="/">Home</a></li>
      <!-- HospitalAdmin Links -->
      <ng-container *ngIf="userRole === 'Admin'">
        <li class="dropdown" (mouseenter)="showDropdown = true" (mouseleave)="showDropdown = false">
            <a href="#">Flight</a>
            <div class="dropdown-content" *ngIf="showDropdown">
                <a routerLink="/add-flight">Add Flight</a>
                <a routerLink="/flight-list">Manage Flights</a>
            </div>
        </li>
        <li><a routerLink="/manage-booking">Manage Booking</a></li>
    </ng-container>
    
    
    
    
<ng-container *ngIf="userRole === 'Passenger'">
  
  <li><a routerLink="/flight-list">Book Flight</a></li>
  <li><a routerLink="/my-history">History</a></li>
</ng-container>


      <li>
        <button class="button button-logout" (click)="showLogoutPopup = true">Logout</button>
      </li>
    </ng-container>
  </ul>
</nav>

<!-- Logout Confirmation Popup -->
<div *ngIf="showLogoutPopup" class="logout-popup">
  <div class="logout-popup-content">
    <p>Are you sure you want to logout?</p>
    <button (click)="logout(); showLogoutPopup = false" class="button button-yes">Yes, Logout</button>
    <button (click)="showLogoutPopup = false" class="button button-cancel">Cancel</button>
  </div>
</div>
