<form [formGroup]="fitnessForm" (ngSubmit)="addNewPlan()">
    <table>
      <tr>
        <td>User:</td>
        <td><input class="form-control" type="text" placeholder="Enter user name" formControlName="user"></td>
        <div *ngIf="fitnessForm.get('user')!.invalid && fitnessForm.get('user')!.touched">
          <div *ngIf="fitnessForm.get('user')!.hasError('required')">User name is required.</div>
        </div>
      </tr>
  
      <tr>
        <td>Age:</td>
        <td><input class="form-control" type="number" placeholder="Enter age" formControlName="age"></td>
        <div *ngIf="fitnessForm.get('age')!.invalid && fitnessForm.get('age')!.touched">
          <div *ngIf="fitnessForm.get('age')!.hasError('required')">Age is required.</div>
        </div>
      </tr>
  
      <tr>
        <td>Goal:</td>
        <td><input class="form-control" type="text" placeholder="Enter fitness goal" formControlName="goal"></td>
        <div *ngIf="fitnessForm.get('goal')!.invalid && fitnessForm.get('goal')!.touched">
          <div *ngIf="fitnessForm.get('goal')!.hasError('required')">Fitness goal is required.</div>
        </div>
      </tr>
  
      <tr>
        <td>Workout Type:</td>
        <td><input class="form-control" type="text" placeholder="Enter workout type" formControlName="workoutType"></td>
        <div *ngIf="fitnessForm.get('workoutType')!.invalid && fitnessForm.get('workoutType')!.touched">
          <div *ngIf="fitnessForm.get('workoutType')!.hasError('required')">Workout type is required.</div>
        </div>
      </tr>
  
      <tr>
        <td>Duration Per Day:</td>
        <td><input class="form-control" type="text" placeholder="e.g., 60 mins" formControlName="durationPerDay"></td>
        <div *ngIf="fitnessForm.get('durationPerDay')!.invalid && fitnessForm.get('durationPerDay')!.touched">
          <div *ngIf="fitnessForm.get('durationPerDay')!.hasError('required')">Duration is required.</div>
        </div>
      </tr>
  
      <tr>
        <td>Diet Plan:</td>
        <td><input class="form-control" type="text" placeholder="Enter diet plan" formControlName="dietPlan"></td>
        <div *ngIf="fitnessForm.get('dietPlan')!.invalid && fitnessForm.get('dietPlan')!.touched">
          <div *ngIf="fitnessForm.get('dietPlan')!.hasError('required')">Diet plan is required.</div>
        </div>
      </tr>
  
      <tr>
        <td>Calories Per Day:</td>
        <td><input class="form-control" type="number" placeholder="Enter calories" formControlName="caloriesPerDay"></td>
        <div *ngIf="fitnessForm.get('caloriesPerDay')!.invalid && fitnessForm.get('caloriesPerDay')!.touched">
          <div *ngIf="fitnessForm.get('caloriesPerDay')!.hasError('required')">Calories per day is required.</div>
        </div>
      </tr>
  
      <tr>
        <td>Contact Number:</td>
        <td><input class="form-control" type="text" placeholder="Enter contact number" formControlName="contactNumber"></td>
        <div *ngIf="fitnessForm.get('contactNumber')!.invalid && fitnessForm.get('contactNumber')!.touched">
          <div *ngIf="fitnessForm.get('contactNumber')!.hasError('required')">Contact number is required.</div>
          <div *ngIf="fitnessForm.get('contactNumber')!.hasError('pattern')">Contact number must be 10 digits.</div>
        </div>
      </tr>
  
      <tr>
        <td colspan="2">
          <button class="btn btn-primary" type="submit" [disabled]="fitnessForm.invalid">Add Plan</button>
        </td>
      </tr>
    </table>
  </form>  
