<div class="container">
    <h1>CareerVault: Simplify Your Job Hunt</h1>
    <p>
      CareerVault is a comprehensive platform designed to streamline your job search process. Whether you're a job seeker or a recruiter, CareerVault offers a seamless solution tailored to your needs. With access to a wide array of job postings featuring detailed descriptions, skill requirements, company information, and competitive salaries, users can make informed career decisions. CareerVault helps applicants manage their applications efficiently while empowering recruiters to track candidates effortlessly. Let CareerVault be your trusted companion in navigating the job market and achieving your career aspirations with ease and confidence.
    </p>
  </div>
  