<div>
    <button (click)="sortByRuns()">Sort by Runs</button>
  </div>
  <br>
  <table>
    <thead>
      <tr>
        <th>Player ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Team</th>
        <th>Position</th>
        <th>Batting Style</th>
        <th>Bowling Style</th>
        <th>Total Runs</th>
        <th>Total Wickets</th>
        <th>Total Matches</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let player of players">
        <td>{{ player.id }}</td>
        <td>{{ player.name }}</td>
        <td>{{ player.age }}</td>
        <td>{{ player.team }}</td>
        <td>{{ player.position }}</td>
        <td>{{ player.battingStyle }}</td>
        <td>{{ player.bowlingStyle }}</td>
        <td>{{ player.totalRuns }}</td>
        <td>{{ player.totalWickets }}</td>
        <td>{{ player.totalMatches }}</td>
        <td><button (click)="deletePlayer(player.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
  
